@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 100% 99%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 177 100% 14%; /* #004643 */
    --primary-foreground: 0 0% 100%;
    --secondary: 220 20% 94%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 220 20% 96%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 220 20% 94%; /* Light gray accent */
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 72% 51%; /* Muted red for destructive actions */
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 90%;
    --input: 220 20% 92%;
    --ring: 177 100% 14%;
    --chart-1: 177 100% 14%;
    --chart-2: 0 90% 41%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;

    --sidebar-background: 228 100% 100% / 0.7;
    --sidebar-foreground: hsl(var(--primary));
    --sidebar-primary: hsl(var(--primary));
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: hsl(var(--primary) / 0.1);
    --sidebar-accent-foreground: hsl(var(--primary));
    --sidebar-border: hsl(var(--primary) / 0.1);
    --sidebar-ring: hsl(var(--primary));
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 177 48% 82%;
    --primary-foreground: 177 48% 12%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 177 48% 82%;
    --chart-1: 177 48% 82%;
    --chart-2: 0 70% 60%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 240 10% 3.9% / 0.7;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 177 48% 82%;
    --sidebar-primary-foreground: 177 48% 12%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 177 48% 82%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
    [data-sidebar="sidebar"] {
        @apply backdrop-blur-lg;
    }
    [data-sidebar="menu-button"][data-active="true"] {
        @apply bg-gradient-to-r from-primary to-[hsl(var(--primary)/0.8)];
    }
}
